body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left-padding{
    padding-left: 15px;
}

.spacing{
    margin-left: 5px;
    margin-right: 5px;
}

.text {
    color: white;
}

.box {
    border: 1px solid white;
    height: 145px;
}