body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left-padding{
    padding-left: 15px;
}

.event-text {
    font-size: 14px;
}

.text {
    color: white;
}

.box {
    height: 150px;
}

.cap-sm{
    height: 102px;
}

.cap-lg{
    height: 250px;
}

.day-button{
    cursor: pointer;
}