body {
    margin-left: 5px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.event-text {
    font-size: 14px;
}

.text {
    color: black;
}

.box {
    height: 150px;
}

.cap-sm{
    height: 98px;
}

.cap-lg{
    height: 250px;
}

.day-button{
    cursor: pointer;
}